workflows2025/10/ckqbDqJLWXf5MOyR.json
{
  "": "",
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Main Topics List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Topic": {
      "main": [
        [],
        [
          {
            "node": "Call Main Topic Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Topics List": {
      "main": [
        [
          {
            "node": "Loop Over Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Main Topic Workflow": {
      "main": [
        [
          {
            "node": "Add Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embedding 3-small1": {
      "ai_embedding": [
        [
          {
            "node": "Insert Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Retrieve Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error": {
      "main": [
        [
          {
            "node": "Loop Over Sheet Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Sheet Name": {
      "main": [
        [
          {
            "node": "Loop Over Topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "XRAG Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Has Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XRAG Load": {
      "main": [
        [
          {
            "node": "Loop Over Sheet Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Fields": {
      "main": [
        [
          {
            "node": "Loop Over Sheet Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "If New",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If New": {
      "main": [
        [
          {
            "node": "Insert Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing on duplicated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "No Operation, do nothing on duplicated": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Insert Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Aggregate all",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate all": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-30T09:33:55.891Z",
  "id": "ckqbDqJLWXf5MOyR",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RAG",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1664,
        -128
      ],
      "id": "551e9602-b504-4911-8e3f-dcab042dcf63",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1104,
        -208
      ],
      "id": "368d4dda-cfdc-40d1-9e36-40aea221dc27",
      "name": "Loop Over Topic"
    },
    {
      "parameters": {
        "jsCode": "const topicWorkflows = [\n  {\n    mainTopic: \"crypto_KOLs\",\n    workflowId: \"0EyBOf0axlCox1sp\",\n    sheetId: \"1ogx9HwuMS246j6ddaUGTi6KhLmeMAky7ogqfmtZVl08\"\n  },\n  //{\n  //  mainTopic: \"crypto_underdogs\",\n  //  workflowId: \"ghi789jkl012\"  // Replace with your actual workflow ID\n  //},\n  {\n    mainTopic: \"AI\",\n    workflowId: \"S6n2cmAtmBGJAHYv\",\n    sheetId: \"1k3TqcRY49wyF_fsjAtLtezmibwMXksfNjhzCUHarA4w\"\n  },\n  //{\n  //  mainTopic: \"Motivational\",\n  //  workflowId: \"stu901vwx234\"  // Replace with your actual workflow ID\n  //},\n  //{\n   // mainTopic: \"Bookmarks\",\n   // workflowId: \"yza567bcd890\"  // Replace with your actual workflow ID\n  //},\n  // {\n  //  mainTopic: \"Personal\",\n  //  workflowId: \"efg123hij456\"  // Replace with your actual workflow ID\n  //}\n];\n\n// Return as items\nreturn topicWorkflows.map(item => ({\n  json: {\n    mainTopic: item.mainTopic,\n    workflowId: item.workflowId,\n    sheetId: item.sheetId\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        -128
      ],
      "id": "f2d54eff-b9bf-49ef-b5f0-a5c346321d90",
      "name": "Main Topics List"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.workflowId }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -832,
        -192
      ],
      "id": "bec2a9cd-9a7e-4bf0-b974-d37b497f7557",
      "name": "Call Main Topic Workflow"
    },
    {
      "parameters": {
        "content": "# 📋 Workflow RAG load Logic\n\n## For each topic:\n### - Loop over corresponding **sheet name**\n### - Add data to **Supabase**\n---\n\n## Flow:\n### 1. Topic → Sheet mapping\n### 2. Query Google Sheets one sheet at a time. each sheet is an account or topic from X\n### 3. Insert into Supabase\n---\n\n## 🔄 Loop Over Topics \n### processes one topic at a time\n\n## 🔄  Loop Over sheet Name\n### processes one sheet name at a time calling the Subworkflow\n\n\nTHINGS TO DO NEXT:\n1) ADD AGGREGATE ON THE SUPABASE INSERT NODE BRANCH AS I AM SENDING HUGE AMOUNT OF DATA RIGHT",
        "height": 736,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        336
      ],
      "id": "60ad1f7d-03bc-43eb-b0a9-aefcaf67fe33",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.topic + \"_tweets\" }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1456,
        496
      ],
      "id": "4e0ea7db-0015-490b-913d-90d5b0c28dbe",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "L4sljRXqrMaAo1pq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.tweet_text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "tweet_id",
                "value": "={{ $json.tweet_id }}"
              },
              {
                "name": "date_collected",
                "value": "={{ $json.date_collected }}"
              },
              {
                "name": "tweet_url",
                "value": "={{ $json.tweet_url }}"
              },
              {
                "name": "author_username",
                "value": "={{ $json.author_username }}"
              },
              {
                "name": "author_followers",
                "value": "={{ $json.author_followers }}"
              },
              {
                "name": "like_count",
                "value": "={{ $json.like_count }}"
              },
              {
                "name": "retweet_count",
                "value": "={{ $json.retweet_count }}"
              },
              {
                "name": "bookmark_count",
                "value": "={{ $json.bookmark_count }}"
              },
              {
                "name": "view_count",
                "value": "={{ $json.view_count }}"
              },
              {
                "name": "quote_count",
                "value": "={{ $json.quote_count }}"
              },
              {
                "name": "conversation_id",
                "value": "={{ $json.conversation_id }}"
              },
              {
                "name": "has_media",
                "value": "={{ $json.has_media }}"
              },
              {
                "name": "media_type",
                "value": "={{ $json.media_type }}"
              },
              {
                "name": "media_urls",
                "value": "={{ $json.media_urls }}"
              },
              {
                "name": "external_links",
                "value": "={{ $json.external_links }}"
              },
              {
                "name": "topic",
                "value": "={{ $json.topic }}"
              },
              {
                "name": "engagement_score",
                "value": "={{ $json.engagement_score }}"
              },
              {
                "name": "days_old",
                "value": "={{ $json.days_old }}"
              },
              {
                "name": "freshness_multiplier",
                "value": "={{ $json.freshness_multiplier }}"
              },
              {
                "name": "base_score",
                "value": "={{ $json.base_score }}"
              },
              {
                "name": "engagement_rate",
                "value": "={{ $json.engagement_rate }}"
              },
              {
                "name": "bookmark_rate",
                "value": "={{ $json.bookmark_rate }}"
              },
              {
                "name": "amplification_rate",
                "value": "={{ $json.engagement_rate }}"
              },
              {
                "name": "thread_indicator",
                "value": "={{ $json.thread_indicator }}"
              },
              {
                "name": "content_type",
                "value": "={{ $json.content_type }}"
              },
              {
                "name": "call_to_action",
                "value": "={{ $json.call_to_action }}"
              },
              {
                "name": "viral_status",
                "value": "={{ $json.viral_status }}"
              },
              {
                "name": "engagement_class",
                "value": "={{ $json.engagement_class }}"
              },
              {
                "name": "bookmark_class",
                "value": "={{ $json.bookmark_class }}"
              },
              {
                "name": "amplification_class",
                "value": "={{ $json.amplification_class }}"
              },
              {
                "name": "overall_preformance",
                "value": "={{ $json.overall_performance }}"
              },
              {
                "name": "main_topic",
                "value": "={{ $(\"Execute Workflow Trigger\").item.json.main_topic }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -544,
        640
      ],
      "id": "66221400-ffbe-46d7-8f9c-93ddf510556d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -640,
        800
      ],
      "id": "8a4e02ac-2743-4d02-a7c7-7b40686c6a57",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1248,
        832
      ],
      "id": "c5896377-ab49-45b5-afff-cbf4b85f15b5",
      "name": "Embedding 3-small1",
      "credentials": {
        "openAiApi": {
          "id": "fcIDL6mBCr4eAnxg",
          "name": "OpenAi voice to text"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1664,
        448
      ],
      "id": "b1c1e931-3bd9-49ae-9a63-050a8eeac2c8",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Check if the input has error information\nif ($input.item.json.error || $input.item.json.lastNodeExecuted) {\n  // Create a rich error object\n  $input.item.json.errorDetails = {\n    lastNode: $input.item.json.lastNodeExecuted || \"Unknown\",\n    errorMessage: $input.item.json.error || \"Unknown error\",\n    workflowId: $workflow.id,\n    executionId: $execution.id,\n    workflowURL: `https://gioben.app.n8n.cloud/workflow/${$workflow.id}`,\n    executionURL:   `https://gioben.app.n8n.cloud/workflow/${$workflow.id}/executions/${$execution.id}`\n  };\n}\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -96
      ],
      "id": "766b548c-f2a2-4e02-a0c6-4d9d4f008e76",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7043922-7293-4844-bd46-86b5043b22da",
              "name": "hasError",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -16
      ],
      "id": "3e73c0e7-cc8a-4dde-9fc6-4e8b0bd281f9",
      "name": "Has Error"
    },
    {
      "parameters": {
        "sendTo": "gioben@protonmail.com",
        "subject": "Error in X RAG workflow",
        "emailType": "text",
        "message": "==:x: Failed to add to RAG {{ $('Loop Over Sheet Name').item.json.topic }} from sheet ID ({{ $('Loop Over Sheet Name').item.json.sheet_id}})\n\n*Error Details:*\n{{ $json.errorDetails.errorMessage }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        -96
      ],
      "id": "2c4d557a-8a36-4f8e-acd9-f908a3479c0a",
      "name": "Send a message",
      "webhookId": "25e7c378-da6b-4bdb-ad0c-848e731af504",
      "credentials": {
        "gmailOAuth2": {
          "id": "EdToD3kB7ULzhVZc",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $prevNode.name === 'Add Fields' }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -336,
        -128
      ],
      "id": "58b79bec-f559-414d-8b8c-d6e77076ac1e",
      "name": "Loop Over Sheet Name"
    },
    {
      "parameters": {
        "sendTo": "gioben@protonmail.com",
        "subject": "X RAG workflow completed",
        "emailType": "text",
        "message": "=={{ $json.hasError\n  ? \"⚠️ Backup completed with issues - Main Topic: \" + {{ $('Add Fields').item.json.main_topic }} + \" \" + $('Add Fields').all().length + \" workflows processed, some encountered errors.\"\n  : \"✅ Backup has completed successfully - \" + $('Add Fields').all().length + \" workflows have been processed.\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -160,
        -336
      ],
      "id": "5e1ad6aa-25fe-4e66-baf3-e5b4e005f2ee",
      "name": "Send a message1",
      "webhookId": "3769228a-57b0-46df-870b-f19d80c68bde",
      "credentials": {
        "gmailOAuth2": {
          "id": "EdToD3kB7ULzhVZc",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id",
          "cachedResultUrl": "/workflow/=%7B%7B%20$workflow.id%20%7D%7D"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -80,
        -112
      ],
      "id": "39308736-6567-4c5c-8c56-358c8fbdcff5",
      "name": "XRAG Load",
      "onError": "continueErrorOutput",
      "notes": "If there is an error send me a notification"
    },
    {
      "parameters": {
        "content": "# Workflow RAG Load",
        "height": 704,
        "width": 2640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1776,
        -400
      ],
      "id": "a93e38a3-9449-4b3e-9739-5cb1efd22246",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Subworflow RAG Load",
        "height": 736,
        "width": 1888,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1776,
        336
      ],
      "id": "fff59c71-982e-4f21-8efe-c5c9e44a96fc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8744484e-1691-4f29-b963-d0c8fbeb71ab",
              "name": "sheet_id",
              "value": "={{ $(\"Loop Over Topic\").item.json.sheetId }}",
              "type": "string"
            },
            {
              "id": "f691d51d-bbaa-49f5-9962-d9a3c78071bd",
              "name": "main_topic",
              "value": "={{ $(\"Loop Over Topic\").item.json.mainTopic }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -192
      ],
      "id": "29aa2cd5-5d6b-4c9a-9427-9e23391bf2a2",
      "name": "Add Fields"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.tweet_id }}",
        "options": {
          "scope": "workflow",
          "historySize": 100000
        }
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -1280,
        496
      ],
      "id": "bcf323d2-c15b-4fcd-b807-c3ae1c7eecd6",
      "name": "Remove Duplicates",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7af164a6-bcfd-40fe-8a10-b32ee1625f13",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1120,
        496
      ],
      "id": "54841ef4-812c-4e40-9dad-075920d4acc7",
      "name": "If New"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -768,
        912
      ],
      "id": "0e3d006d-f5fb-4e31-b075-10f5f2348b6b",
      "name": "No Operation, do nothing on duplicated"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f264feb-ee34-4fad-b3fc-516aa808a8d9",
              "name": "done",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        640
      ],
      "id": "7b5fd1b3-6576-4108-b762-f2a2b8b24b7b",
      "name": "Return"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -320,
        512
      ],
      "id": "61d2bd20-de2b-4a84-a8df-1bc576c4caed",
      "name": "Wait",
      "webhookId": "687f0d1f-1754-4c59-ad00-9fd57ec9cd42"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1328,
        1312
      ],
      "id": "5def3fdb-e688-4899-887e-a0a2e3347908",
      "name": "When chat message received",
      "webhookId": "dbc84075-4e9f-4466-a5cb-cef46c130f67"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=<AgentInstructions>\n\n    <Role>\n        You are an Engagement Intelligence Expert - a social media strategist who analyzes tweet data to uncover trends, narrative evolution, and growth opportunities. You combine data-driven insights with creative, cross-disciplinary thinking. you take inspiration from user inputs and ideas in chats to craft amazing output with novel ideas based on the data you have stored and retireved from your vector store\n\n    <CorePrinciples>\n        \n        <Principle name=\"Evidence-Based\">\n            Always ground insights in actual data. State confidence levels explicitly:\n            - HIGH: 10+ tweets across multiple days OR exceptional engagement patterns\n            - MEDIUM: Fewer tweets but clear signals\n            - LOW/SPECULATIVE: Interesting but limited data\n            \n            If you lack sufficient evidence, say so. Never hallucinate connections.\n        </Principle>\n\n        <Principle name=\"Strategic Focus\">\n            Prioritize actionable intelligence over description. Look for:\n            • Narrative evolution (how ideas develop over time)\n            • Engagement pattern shifts (what's gaining momentum)\n            • Contrarian signals (high-performing opposing views)\n            • Content gaps (high interest, low coverage)\n            • Cross-domain connections (when genuinely insightful)\n        </Principle>\n\n        <Principle name=\"Clarity Through Structure\">\n            Every response should include:\n            1. What you searched for and why\n            2. Key connections/patterns with supporting evidence\n            3. Relevant tweet URLs (organized logically)\n            4. 3-5 strategic recommendations (choose what matters most)\n            \n            Keep it tight. Users want insights, not walls of text.\n        </Principle>\n\n        <Principle name=\"Recency Awareness\">\n            Weight recent content heavily unless analyzing historical trends. Use metadata: `days_old`, `freshness_multiplier`, `engagement_rate`, `viral_status`, `engagement_class`, `bookmark_class`, `amplification_class`.\n            \n            For \"new metas,\" compare current vs historical baselines with specific metrics.\n        </Principle>\n\n        <Principle name=\"Authentic Growth\">\n            Recommend strategies that fit the user's genuine expertise and interests. No gaming tactics - focus on amplifying what already works. Growth through authenticity, not manipulation.\n        </Principle>\n\n    </CorePrinciples>\n\n  <VectorStoreUsagePolicy>\n      CRITICAL: When to Query the Vector Store\n      \n      YOU MUST query the vector store tool for EVERY question that requires:\n      • Pattern analysis across multiple tweets\n      • Trend identification or comparison\n      • Performance analysis or benchmarking\n      • Finding examples of specific content types\n      • Strategic recommendations based on engagement data\n      • Any question with: \"analyze,\" \"compare,\" \"identify,\" \"find,\" \"what performs,\" \"show me\"\n      \n      Conversation memory is ONLY for:\n      • Recalling specific tweets already discussed in THIS conversation\n      • Understanding user preferences and context\n      • Clarifying previous responses\n      \n      DO NOT use conversation memory to:\n      ❌ Answer new analytical questions\n      ❌ Identify patterns (need fresh comprehensive data)\n      ❌ Make performance comparisons (need full dataset)\n      ❌ Generate strategic recommendations (need current evidence)\n      \n      If you find yourself thinking \"I remember some examples from earlier,\" STOP.\n      Query the vector store instead. Fresh data = reliable insights.\n      \n      Workflow for analytical questions:\n      1. Identify what data is needed\n      2. Query vector store with specific search terms\n      3. Retrieve 10-20+ relevant tweets\n      4. Analyze fresh results\n      5. State confidence based on sample size\n      \n      Never say \"based on earlier examples\" in analytical responses.\n      Always say \"based on [X tweets] retrieved from vector store.\"\n  </VectorStoreUsagePolicy>\n\n    <KeyGuidelines>\n        \n        • **Query Strategy**: Make multiple searches from different angles for comprehensive coverage. State what you're looking for upfront.\n        \n        • **Time Bounds**: Respect user-specified timeframes strictly. Default to emphasizing last 7-14 days with historical context when no constraint given.\n        \n        • **Citations**: Provide tweet URLs cleanly. Paraphrase or excerpt key insights - never reproduce full tweets. Always attribute with username and metrics.\n        \n        • **Thread Handling**: Analyze threads as cohesive narratives. Link to parent tweet but reference key thread insights.\n        \n        • **Engagement Metrics**: Interpret bookmark_class, amplification_class, and engagement_rate as primary performance indicators. High bookmarks = valuable reference content.\n        \n        • **Scale Handling**: Query scope ranges from 10 to 1000+ tweets. For large datasets, summarize patterns and highlight representative examples.\n        \n        • **Tone**: Balanced and actionable. Assume solid foundational knowledge unless user requests otherwise. Focus on intelligence over tutorials.\n        \n        • **Creative License**: You can suggest unconventional angles and cross-domain connections, BUT clearly distinguish data-backed insights from speculative opportunities.\n\n    </KeyGuidelines>\n\n    <StrategicOutputs>\n        Choose the most relevant recommendations based on your analysis. Options include:\n        \n        • \"This is a new meta\" (explain momentum indicators with confidence level)\n        • \"Strong article/content opportunity\" (identify gaps, provide specific angles)\n        • \"Contrarian play\" (underexplored perspectives with engagement potential)\n        • \"Recommended reply angles\" (provide 2-3 approaches with examples)\n        • \"Original tweet ideas\" (provide 2-3 angles with examples)\n        • \"Engagement optimization tip\" (based on performance data)\n        • \"CTA/format recommendations\" (backed by content_type and call_to_action analysis)\n        • Any other insight you identify\n        \n        Surprise the user with creativity while staying grounded in evidence.\n    </StrategicOutputs>\n\n    <FutureCapabilities>\n        When user's own tweets/bookmarks become available:\n        • Treat bookmarks as high-priority interest signals\n        • Benchmark their performance against successful patterns\n        • Provide specific improvement recommendations\n        • Analyze their authentic voice and suggest aligned content\n    </FutureCapabilities>\n\n</AgentInstructions>",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -784,
        1136
      ],
      "id": "6ea486af-ca36-43d6-839e-1e0e527a9f68",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -368,
        1504
      ],
      "id": "be175cbd-c088-441c-93b8-4cd0e8b7adf4",
      "name": "Think"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -624,
        1488
      ],
      "id": "9b87ade9-9b89-4b9c-8dc8-4ff66bf13f69",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "qmFOJkAksFNgWfUk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -912,
        1504
      ],
      "id": "1b8c51a4-8b3b-49f4-acd5-8da35979fb6e",
      "name": "GPT-4.1",
      "credentials": {
        "openAiApi": {
          "id": "fcIDL6mBCr4eAnxg",
          "name": "OpenAi voice to text"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "twitterdata",
          "mode": "list",
          "cachedResultName": "twitterdata"
        },
        "options": {
          "queryName": "match_twitterdata"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -832,
        400
      ],
      "id": "c43eff4f-f5cb-4378-837d-d081872b080d",
      "name": "Insert Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "AJSgyS6o6Iogt0OW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Twitter/X engagement vector store with tweet content, metrics, and metadata across multiple accounts.\n\nSTRUCTURE: {pageContent: \"text\", metadata: {...}}\n\nMETADATA FIELDS (all ALWAYS available):\n\nIdentity: author_username, tweet_url, tweet_id\nEngagement: like_count, retweet_count, bookmark_count, view_count, engagement_rate, engagement_class (poor/average/good/excellent), viral_status (low/medium/high)\nTime: days_old (age in days), freshness_multiplier, date_collected\nContent: content_type, thread_indicator, has_media, call_to_action\nOther: conversation_id, author_followers, overall_preformance\n\nCITATION (MANDATORY):\n[@{metadata.author_username}]({metadata.tweet_url})\n\"{excerpt}\"\nMetrics: {engagement_class} | {engagement_rate}% | {like_count} likes | {days_old}d old\n\nNever say metadata \"not available\" - extract from metadata object.\n\nUSE FOR: Performance analysis, viral pattern identification, narrative tracking, content benchmarking, strategic insights.\n\nEXAMPLES:\n• \"Tweets with engagement_class='excellent' from past week\"\n• \"High viral_status content about [topic]\"\n• \"Compare bookmark_rate by content_type\"",
        "tableName": {
          "__rl": true,
          "value": "twitterdata",
          "mode": "list",
          "cachedResultName": "twitterdata"
        },
        "topK": 10,
        "options": {
          "queryName": "match_twitterdata"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1248,
        1152
      ],
      "id": "8e707e76-5df1-455a-98cf-9928ed0018b6",
      "name": "Retrieve Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "AJSgyS6o6Iogt0OW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "={{ $json.metadata.author_username }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -512,
        416
      ],
      "id": "d3360b7e-c159-4698-af56-3656418197e9",
      "name": "Aggregate all"
    },
    {
      "parameters": {
        "content": "## Aggregate all data into 1 list\n",
        "height": 128,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        336
      ],
      "id": "9b39b769-8ed5-4dd6-926c-72bce9aa3813",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "thalderg",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-30T09:33:55.904Z",
      "updatedAt": "2025-10-30T09:33:55.904Z",
      "role": "workflow:owner",
      "workflowId": "ckqbDqJLWXf5MOyR",
      "projectId": "rwZmgF8pMPgWdXwq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-17T12:35:24.000Z",
  "versionId": "bca943e6-e659-4325-af26-b52d73d7d135"
}