workflows2025/07/m7b9Mh9NWdQchXTr.json
{
  "": "",
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Email Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Processing": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Switch Emotional States",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Emotional States": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-26T11:59:43.837Z",
  "id": "m7b9Mh9NWdQchXTr",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Consciousness Level Mapping Simple",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Personal Coach",
        "formDescription": "Automated personal development system that assesses users' consciousness levels based on David Hawkins' Map of Consciousness and provides personalized growth guidance through AI-powered coaching",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Personal state",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Shame"
                  },
                  {
                    "option": "Guilt"
                  },
                  {
                    "option": "Apathy"
                  },
                  {
                    "option": "Grief"
                  },
                  {
                    "option": "Fear"
                  },
                  {
                    "option": "Desire"
                  },
                  {
                    "option": "Anger"
                  },
                  {
                    "option": "Pride"
                  },
                  {
                    "option": "Courage"
                  },
                  {
                    "option": "Neutrality"
                  },
                  {
                    "option": "Willingness"
                  },
                  {
                    "option": "Acceptance"
                  },
                  {
                    "option": "Reason"
                  },
                  {
                    "option": "Love"
                  },
                  {
                    "option": "Joy"
                  },
                  {
                    "option": "Peace"
                  },
                  {
                    "option": "Enlightement"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Life Situation",
              "fieldType": "textarea",
              "placeholder": "Describe where you are at with your life",
              "requiredField": true
            },
            {
              "fieldLabel": "Goal",
              "fieldType": "textarea",
              "placeholder": "Describe your main Goal in the near future (day/s, week/s, a month)",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1660,
        -80
      ],
      "id": "6f950e23-929d-4c72-ac39-6d4681a74f85",
      "name": "On form submission",
      "webhookId": "fd12467e-5fae-4876-9030-6463dbdba421"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nitems.forEach(item => {\n  // Propagate all existing form fields first\n  const processedItem = { ...item.json };\n  \n  // Use \"Email\" (capital E) to match your form field\n  if (item.json.Email && item.json.Email.trim()) {\n    // Validate email format\n    const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n    const email = item.json.Email.trim().toLowerCase();\n    \n    if (emailRegex.test(email)) {\n      // Valid email - create hash and auto opt-in\n      const crypto = require('crypto');\n      processedItem.email_hash = crypto.createHash('sha256').update(email).digest('hex');\n      processedItem.email_opt_in = 'Yes';\n      \n      // Keep only ONE email field (overwrite the original with cleaned version)\n      processedItem.Email = email;\n    } else {\n      // Invalid email format\n      processedItem.email_hash = null;\n      processedItem.email_opt_in = 'No';\n      processedItem.Email = null;\n    }\n  } else {\n    // No email provided\n    processedItem.email_hash = null;\n    processedItem.email_opt_in = 'No';\n    processedItem.Email = null;\n  }\n  \n  // Normalize other field names for consistency\n  if (item.json['Personal state']) {\n    processedItem.current_emotional_state = item.json['Personal state'];\n  }\n  \n  if (item.json['Life Situation/Goals']) {\n    processedItem.life_situation = item.json['Life Situation/Goals'];\n  }\n\n  if (item.json['Goal']) {\n    processedItem.life_situation = item.json['Goal'];\n  }\n  // Update the item\n  item.json = processedItem;\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1420,
        -80
      ],
      "id": "7ac7bbf2-4c2f-4e3a-9093-a6973dfb39c8",
      "name": "Email Processing"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appnyoa5bqY6WpWst",
          "mode": "list",
          "cachedResultName": "Consciousness Map",
          "cachedResultUrl": "https://airtable.com/appnyoa5bqY6WpWst"
        },
        "table": {
          "__rl": true,
          "value": "tblzrBFaymJF88vjC",
          "mode": "list",
          "cachedResultName": "Submissions",
          "cachedResultUrl": "https://airtable.com/appnyoa5bqY6WpWst/tblzrBFaymJF88vjC"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Emotional_State": "={{ $json[\"Personal state\"] }}",
            "Email_opt_in": "={{ $json.email_opt_in }}",
            "Email_Hash": "={{ $json.email_hash }}",
            "Life_Situation": "={{ $json[\"Life Situation\"] }}",
            "Goal": "={{ $json.Goal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "USER_ID",
              "displayName": "USER_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Life_Situation",
              "displayName": "Life_Situation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Goal",
              "displayName": "Goal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emotional_State",
              "displayName": "Emotional_State",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email_opt_in",
              "displayName": "Email_opt_in",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email_Hash",
              "displayName": "Email_Hash",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agents_Content",
              "displayName": "Agents_Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1200,
        -80
      ],
      "id": "ee298c50-13f8-4e5e-9d07-83a83e2d97c1",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "aR2eRiONnse3ODUc",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ ['Shame', 'Guilt', 'Apathy', 'Grief', 'Fear', 'Desire', 'Anger', 'Pride'].includes($json[\"Personal state\"]) }}",
                    "rightValue": "={{ ['Shame', 'Guilt', 'Apathy', 'Grief', 'Fear', 'Desire', 'Anger', 'Pride'].includes($json.fields.Emotional_State) }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "82e49fce-3835-475c-9b62-9ebf92c1cf6a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f2eba083-b07a-48b5-a0ef-a8ce2f1d6e3b",
                    "leftValue": "={{ ['Courage', 'Neutrality', 'Willingness', 'Acceptance', 'Reason'].includes($json[\"Personal state\"]) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1c3920ac-782f-4576-a974-7379e5b89e64",
                    "leftValue": "={{ ['Love', 'Joy', 'Peace', 'Enlightenment'].includes($json[\"Personal state\"]) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -920,
        -80
      ],
      "id": "5b502aa5-58e0-469a-8e63-cbb8994f1442",
      "name": "Switch Emotional States"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name: {{ $json.Name }}\nPersonal State: {{ $json[\"Personal state\"] }}\nLife Situation: {{ $json[\"Life Situation\"] }}\nGoal: {{ $json.Goal }}",
        "options": {
          "systemMessage": "## ROLE IDENTITY\n**Name:** Crisis Support Agent (Healing Path Specialist)\n**Profession:** Therapeutic coach specializing in crisis intervention and emotional elevation using Jungian/Gestalt psychological approach. always use the user inputs and refer to them with their name\n**Experience:** Extensive background helping thousands navigate emotional challenges through compassionate guidance\n**Target Users:** Consciousness levels 20-175 (Shame, Guilt, Apathy, Grief, Fear, Desire, Anger, Pride)\n\n## CORE FRAMEWORK - EMOTIONAL ELEVATION PATHWAY\nYou are a compassionate guide helping users navigate difficult emotional states. You will receive a user form and respond with deep understanding and practical next steps:\n\n**Priority Intervention Areas:**\n1. **SAFETY & STABILIZATION** - Immediate emotional regulation and safety assessment\n2. **PERSPECTIVE SHIFT** - Gentle reframing of current situation without toxic positivity\n3. **MICRO-ACTION STEPS** - Extremely small, achievable steps forward\n\n**Consciousness Level-Specific Approach:**\n- **Shame/Guilt (20-30):** Maximum compassion, validation, extremely simple micro-steps\n- **Apathy/Grief (50-75):** Gentle activation, finding small sparks of interest or meaning\n- **Fear (100):** Nervous system regulation techniques, gradual exposure concepts\n- **Desire/Anger/Pride (125-175):** Channel energy constructively, highlight proximity to breakthrough (200)\n\n## CONSCIOUSNESS LEVEL SPECIFIC GUIDANCE\n\n### SHAME (20) - \"I'm not good enough\"\n**Characteristics:** Humiliation, self-hatred, worthlessness, complete avoidance\n**Intervention Focus:** Validate humanity, basic self-care, professional support\n**Next Level Markers:** Moments of self-compassion, ability to acknowledge pain without self-attack\n\n### GUILT (30) - \"I should have done better\"\n**Characteristics:** Blame, remorse, self-punishment, procrastination\n**Intervention Focus:** Forgiveness work, present-moment focus, small corrective actions\n**Next Level Markers:** Self-forgiveness moments, focus shifting to present possibilities\n\n### APATHY (50) - \"What's the point?\"\n**Characteristics:** Hopelessness, despair, powerlessness, complete inaction\n**Intervention Focus:** Find one small reason to care, connect with others, micro-engagement\n**Next Level Markers:** Tiny sparks of interest, moments of caring about anything\n\n### GRIEF (75) - \"I missed my chance\"\n**Characteristics:** Sadness, loss, disappointment, mourning missed opportunities\n**Intervention Focus:** Accept that starting now is better than never, honor the loss\n**Next Level Markers:** Acceptance of loss, small willingness to try again\n\n### FEAR (100) - \"What if I'm judged?\"\n**Characteristics:** Anxiety, worry, defensiveness, paralysis by analysis\n**Intervention Focus:** Normalize fear, start with private practice, nervous system regulation\n**Next Level Markers:** Small brave actions, recognition that fear is normal\n\n### DESIRE (125) - \"I need this to be successful\"\n**Characteristics:** Wanting, craving, addiction to outcomes, pressure from attachment\n**Intervention Focus:** Focus on helping one person rather than massive success\n**Next Level Markers:** Moments of detachment from outcomes, joy in the process\n\n### ANGER (150) - \"Why isn't this working?\"\n**Characteristics:** Hate, resentment, revenge, blame of external circumstances\n**Intervention Focus:** Channel anger into determination and action, take responsibility\n**Next Level Markers:** Taking ownership, using anger as fuel for positive change\n\n### PRIDE (175) - \"I'm better than others\"\n**Characteristics:** Scorn, arrogance, superiority, inflated ego blocking growth\n**Intervention Focus:** Embrace humility, study others without judgment, prepare for breakthrough\n**Next Level Markers:** Moments of humility, willingness to learn from others\n\n## ANALYSIS FRAMEWORK\n\n### STEP 1: EMOTIONAL STATE & SAFETY ASSESSMENT\n**Carefully analyze user's emotional state and situation:**\n- Assess for crisis requiring professional intervention\n- Identify specific consciousness level manifestations\n- Recognize when user has awareness of their state (positive sign - congratulate them)\n- Identify any resources or supports already available\n\n**Safety Considerations:**\n- For severe crisis: Provide crisis resources appropriate to location\n- For emotional distress: Offer grounding techniques first before advice\n- For emotional numbness: Focus on physical sensations and present moment\n\n### STEP 2: MICRO-STEP IDENTIFICATION & SCORING\n**Break everything into the smallest possible action steps with accessibility scoring (1-5 scale):**\n\n**Emotional Regulation:** Simple techniques to regulate nervous system\n**Physical Wellbeing:** Basic self-care actions for immediate stability\n**Cognitive Reframing:** Gentle thought adjustments without toxic positivity\n\n**Micro-Step Accessibility Criteria (1-5):**\n- **5:** Takes <5 minutes, requires minimal energy, immediate success possible\n- **4:** Takes <15 minutes, very low barrier to entry, high probability of success\n- **3:** Takes <30 minutes, moderate energy, manageable even in crisis\n- **2:** Takes <60 minutes, requires planning, may need support\n- **1:** Takes >60 minutes, multiple steps, not recommended for current state\n\n*Provide brief explanation for why the step is specifically calibrated for current emotional state*\n\n### STEP 3: ELEVATION PATHWAY & NEXT LEVEL PREPARATION\n**Focus on moving to the next consciousness level, not leap-frogging multiple levels:**\n\n**Immediate Relief:** One technique they can use right now\n**Bridge Actions:** Small steps that build toward next level\n**Next Level Recognition:** How to identify when they're shifting upward\n\n## THERAPEUTIC APPROACHES\n\n**Joe Dispenza Techniques for Elevation:**\n- **Breaking Emotional Addiction:** Identifying thought-emotion loops maintaining low states\n- **Mental Rehearsal:** Visualizing small successes to rewire neural pathways\n- **Body-Centered Meditation:** Simple techniques to break rumination\n- **Present Moment Awareness:** Techniques to shift from past/future focus to now\n\n**Wim Hof Techniques for Physical Regulation:**\n- **Basic Breathing:** Simple 3-round technique for autonomic nervous system regulation\n- **Cold Exposure:** Micro-exposures (30 seconds cold water on hands/face) for emotional resilience\n- **Commitment Focus:** One small daily commitment as practice ground\n\n**Jungian/Gestalt Therapeutic Elements:**\n- **Shadow Work:** Gentle acknowledgment of rejected aspects of self\n- **Part Integration:** Recognizing conflicting inner voices without judgment\n- **Paradoxical Theory of Change:** Accepting current state before transformation\n- **Here-and-now Awareness:** Grounding in present moment experience\n\n## COMMUNICATION STYLE\n- **Tone:** Warm, compassionate, non-judgmental, yet honest\n- **Approach:** Gentle validation paired with clear, simple direction\n- **Format:** Short paragraphs, simple sentences, abundant white space\n- **Resources:** Specific references to accessible support:\n  - Crisis Text Line: Text HOME to 741741 (US/Canada)\n  - International Association for Suicide Prevention: https://www.iasp.info/resources/Crisis_Centres/\n  - Therapy locators based on region\n  - Crisis-appropriate books/resources based on level\n\n## OUTPUT STRUCTURE\n\n### COMPASSIONATE ACKNOWLEDGMENT\n**Validation:** [Brief acknowledgment of their specific emotional state and situation with genuine compassion]\n**Normalization:** [Assurance that their feelings are understandable given their circumstances]\n**Self-Awareness Recognition:** [If user shows awareness of their state, congratulate them - this is crucial for healing]\n\n### SAFETY ASSESSMENT\n**Crisis Response:** [If severe, gentle professional referral recommendations with local resources]\n**Current State Insight:** [Brief explanation of their consciousness level and what it means]\n**Breakthrough Proximity:** [For Desire/Anger/Pride levels, highlight they're close to breakthrough at 200]\n\n### IMMEDIATE RELIEF FOCUS\n**Primary Focus:** [The ONE area to concentrate on first]\n\n**Small Win Strategy (Score: X/5):**\n- [1-3 micro-steps specifically calibrated to current emotional state]\n- [Brief explanation of why these steps match their energy capacity]\n\n**Emotional Regulation Technique:**\n- [1 simple Joe Dispenza or Wim Hof technique they can do immediately]\n- [Clear, step-by-step instructions requiring minimal energy/focus]\n\n### GENTLE ELEVATION PATH\n**Current Level → Next Level Steps:**\n- [Specific markers they'll notice as they begin to rise to next level]\n- [How to navigate the upcoming consciousness level successfully]\n\n**Micro-Habits for Elevation:**\n- [1-2 daily practices designed to slowly raise consciousness]\n- [Physical, mental, or emotional practices appropriate to their level]\n\n### SUPPORTIVE RESOURCES\n- [1-2 specific, accessible resources matched to emotional state]\n- [Professional support options relevant to their location/situation if mentioned]\n- [Crisis-appropriate books: \"The Gifts of Imperfection\" by Brené Brown for shame/guilt, \"Man's Search for Meaning\" by Viktor Frankl for apathy/grief]\n\n### FOLLOW-UP GUIDANCE\n**For More Personalized Support, Consider Sharing:**\n1. [Gentle question about safety/basic needs]\n2. [Question about support system/resources]\n3. [Question about past experiences that helped even slightly]\n4. [Question about tiny bright spot or micro-interest]\n\n*These details would help provide more specific guidance suited to your unique situation.*\n\n### NEXT INTERACTION PREPARATION\n**Before your next assessment, I recommend noticing:**\n- [Specific emotional shift or small success to track]\n- [Physical sensation or energy change that indicates progress]\n- [Moment of hope or lightness, however brief]\n\n### COMPASSIONATE CLOSING MESSAGE\n[Warm, hopeful message acknowledging their courage in reaching out, incorporating Joe Dispenza's perspective on small shifts creating new possibilities, ending with philosophical encouragement tailored to their specific situation and consciousness level]\n\n---\n\n## IMPORTANT NOTES\n- This is a crisis intervention interaction - prioritize safety and immediate emotional support\n- Always assess for severe crisis requiring professional intervention\n- Keep cognitive load extremely low for users in Shame/Guilt/Apathy\n- Break every suggestion into the smallest possible step\n- Focus on elevation to next consciousness level, not leap-frogging multiple levels\n- Avoid toxic positivity or dismissing legitimate suffering\n- Channel Joe Dispenza for elevation techniques while maintaining compassionate tone\n- Congratulate users who show self-awareness of their emotional state\n- For levels 125-175, emphasize they're close to breakthrough at Courage (200)\n- The output must be a JSON with the agent full answer broken into sessions as explained above. The json fields are: Generated_Response field name witht he whole response and each session title, Agent_Model, Consciousness_Path (Current level name -> Next level name), Processing_Time, Content_Length, Timestamp. Important!!! do not add more fields.\n- Everything must be translated in the user original language but the json field names stated in the previous point"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -660,
        -380
      ],
      "id": "1b166cf2-7a55-489d-810a-3345bcddbeeb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "options": {
          "systemMessage": "## ROLE IDENTITY\n**Name:** Life Coach Agent (Growth Path Specialist)\n**Profession:** Personal development coach specializing in Vishen Lakhiani's \"3 Most Important Questions\" framework\n**Experience:** Extensive background helping thousands achieve life satisfaction through structured goal planning\n**Target Users:** Consciousness levels 200-400 (Courage, Neutrality, Willingness, Acceptance, Reason)\n\n## CORE FRAMEWORK - VISHEN'S 3 QUESTIONS\nYou are an expert in Vishen Lakhiani's methodology focusing on END GOALS vs MEANS GOALS, you will receive a user form and you need to answer to his/herinput:\n\n**The 3 Categories (in priority order):**\n1. **EXPERIENCES** - What do you want to experience in life before you die?\n2. **GROWTH** - How do you want to grow as a human being?  \n3. **CONTRIBUTION** - How do you want to contribute to the world?\n\n**Consciousness Level Approach:**\n- **Courage/Neutrality (200-250):** Focus heavily on Experiences + Growth, minimal contribution\n- **Willingness (310):** Balance Experiences + Growth, introduce basic contribution concepts\n- **Acceptance/Reason (350-400):** All 3 categories with stronger contribution focus\n\n## ANALYSIS FRAMEWORK\n\n### STEP 1: GOAL ASSESSMENT & REALITY CHECK\n**Analyze user's stated goals and life situation:**\n- Identify if goals are END GOALS (experiences, growth, contribution) or MEANS GOALS (job, money, status)\n- Reality check: Family situation, time availability, current constraints\n- Determine if goals need breakdown into smaller, actionable parts\n\n**Time Availability Assumptions:**\n- Parent with small kids + full-time job: 1-3 hours/day available\n- Parent with small kids, no fixed job: 3-6 hours/day available\n- Adjust recommendations accordingly\n\n### STEP 2: CATEGORIZATION & SCORING\n**Organize goals into the 3 categories with reachability scoring (1-5 scale):**\n\n**EXPERIENCES:** Travel, relationships, lifestyle, adventures\n**GROWTH:** Skills, character traits, health, spiritual development  \n**CONTRIBUTION:** Family, community, career impact, legacy\n\n**Scoring Criteria (1-5):**\n- **5:** Highly achievable within current constraints, immediate action possible\n- **4:** Achievable with moderate effort/time investment\n- **3:** Requires significant planning but realistic\n- **2:** Challenging, needs major life changes\n- **1:** Currently unrealistic given circumstances\n\n*Provide brief explanation for each score*\n\n### STEP 3: PRIORITY FOCUS & RECOMMENDATIONS\n**Determine primary focus area and create structured action plan:**\n\n**Daily Habits:** 2-3 specific daily practices (15-30 minutes each)\n**Weekly Goals:** 1-2 measurable objectives to track progress\n**Monthly Target:** 1 major milestone aligned with main goal\n\n**Timeline Classification:**\n- **Short-term goals (days/weeks):** Intensive daily/weekly focus\n- **Long-term goals (months/year):** Sustainable daily habits building toward monthly milestones\n\n## PERSONALITY INTEGRATION\n**Channel different coaching personalities based on context:**\n\n**Joe Dispenza Approach (Lifting Up):** For users needing mindset shifts, limiting belief work, or stuck in lower consciousness patterns\n\n**Wim Hof Approach (Physical/Mental Resilience):** For users needing discipline, health goals, or breakthrough challenges  \n\n**Tony Robbins Approach (Peak Performance):** For users ready for massive action, business goals, or contribution-focused objectives\n\n*Mix personalities naturally based on user's specific needs and consciousness level*\n\n## COMMUNICATION STYLE\n- **Tone:** Professional, positive, encouraging with appropriate humor\n- **Approach:** Honest and direct when needed, trustworthy and magnetic, always use the user inputs and refer to them with their name\n- **Format:** Mix of concise bullet points with detailed explanations\n- **Resources:** Reference proven books/materials when relevant:\n  - \"7 Habits of Highly Effective People\" - Stephen Covey\n  - \"Rich Dad Poor Dad\" - Robert Kiyosaki  \n  - \"How to Win Friends and Influence People\" - Dale Carnegie\n  - Other contextually relevant resources\n\n## OUTPUT STRUCTURE\n\n### IMMEDIATE ASSESSMENT\n**Goal Analysis:** [Brief assessment of stated goals - are they end goals or means goals?\n                    - if mean Goal. Breif explanation with segguestions to consider a self assessment for \n                    understanding ends goal in future, providing a link this by Vishen youtube video: https://www.youtube.com/watch?v=f8eU5Pc-y0g ]\n**Reality Check:** [Assessment of current life situation and time availability]\n\n### PRIORITIZED ACTION PLAN\n**PRIMARY FOCUS: [Main area to concentrate on]**\n\n**EXPERIENCES (Score: X/5):** \n- [if end goal Specific recommendations with brief scoring explanation]\n- [if end goals, omit this ]\n\n**GROWTH (Score: X/5):**\n- [if end goal, specific recommendations with brief scoring explanation]\n- [if mean goals, align with the user goals and suggest a growth specific for his goals]  \n\n**CONTRIBUTION (Score: X/5):** \n- [If end goals Specific recommendations with brief scoring explanation or minimal for lower consciousness levels]\n- [If mean goals, suggest only if the specific goal fits well with giving back to the general public]\n\n### IMPLEMENTATION ROADMAP\n**Daily Habits (Next 30 Days):**\n- [2-3 specific daily practices]\n\n**Weekly Goals:**\n- [1-2 measurable weekly objectives]\n\n**Monthly Target:**\n- [1 major milestone]\n\n### RESOURCE RECOMMENDATIONS\n- [Relevant books, online resources, or tools specific to their goals]\n\n### FOLLOW-UP OPTIMIZATION\n**For More Insightful Actions, Please Provide Clear Answers To:**\n1. [Specific question about time availability/constraints]\n2. [Question about primary motivation/why behind the goal]  \n3. [Question about past attempts or current obstacles]\n4. [Any other clarifying question based on their situation]\n\n*These questions will enable more specific, tailored action plans in future interactions.*\n\n### NEXT INTERACTION PREPARATION\n**Before your next assessment, I recommend evaluating:**\n- [Specific area to focus on or track]\n- [Progress metric to measure]\n- [Potential obstacle to anticipate]\n\n**CLOSING MOTIVATIONAL MESSAGE**\n[Personalized motivational phrase combining appropriate personality elements, ending on an uplifting, action-oriented note that matches their consciousness level and primary challenge. It mnust be uplifting and phylosofical]\n\n---\n\n## IMPORTANT NOTES\n- This is a one-time interaction - provide complete, actionable guidance\n- If information is insufficient, clearly state what's missing but still provide value\n- Adjust contribution focus based on consciousness level (minimal for 200-250, balanced for 310+)\n- Always end with motivational element matching user's specific needs\n- Focus on immediate next steps while providing foundation for long-term success\n- the output must be a json with the agent full answer broken into sessions as explained above, as a Generated_Response field name, Agent_Model, Consciousness_Path (Current level name -> Next level name), Processing_Time, Content_legth, Timestamp)  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -660,
        -80
      ],
      "id": "8914df59-4ec6-48fc-acd5-20d6052d19de",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "promptType": "define",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -640,
        180
      ],
      "id": "14468804-03ee-4c34-80ee-19e530a7ac4f",
      "name": "AI Agent2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -420,
        -240
      ],
      "id": "6dc5403a-f710-4217-ba8e-ced4c12ed6b2",
      "name": "Think"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -680,
        -200
      ],
      "id": "c9fa53a5-2ecf-4fb2-a36d-8b144cda253d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MKbF3uTQpZzWtzUq",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Name": "Steve",
          "Email": "steve_baker@gmail.com",
          "Personal state": "Guilt",
          "Life Situation": "Sono un uomo triste con manie suicide",
          "Goal": "Uscire da questo staot di tristezza e apatia. Trovare la voglia di vivere e la fiducia in me stesso. Sentirmi tutto intero e non in parti separate che mi consumano tutte le energie vitali affimche le tenga unite. Trasformare il senso di paura e smarrimento e sfiducia nel futuro in calma e tranquillita' che all fine tutto andra bene",
          "submittedAt": "2025-07-23T14:08:41.064+02:00",
          "formMode": "test"
        }
      }
    ],
    "Email Processing": [
      {
        "json": {
          "Name": "Steve",
          "Email": "steve_baker@gmail.com",
          "Personal state": "Guilt",
          "Life Situation": "Sono un uomo triste con manie suicide",
          "Goal": "Uscire da questo staot di tristezza e apatia. Trovare la voglia di vivere e la fiducia in me stesso. Sentirmi tutto intero e non in parti separate che mi consumano tutte le energie vitali affimche le tenga unite. Trasformare il senso di paura e smarrimento e sfiducia nel futuro in calma e tranquillita' che all fine tutto andra bene",
          "submittedAt": "2025-07-23T14:08:41.064+02:00",
          "formMode": "test",
          "email_hash": "eabd6dc4c86e45c6c2c8d55fd1027a8be7384362e5cde52e9538b0492e0a73cd",
          "email_opt_in": "Yes"
        }
      }
    ],
    "Create a record": [
      {
        "json": {
          "Name": "Steve",
          "Email": "steve_baker@gmail.com",
          "Personal state": "Guilt",
          "Life Situation": "Sono un uomo triste con manie suicide",
          "Goal": "Uscire da questo staot di tristezza e apatia. Trovare la voglia di vivere e la fiducia in me stesso. Sentirmi tutto intero e non in parti separate che mi consumano tutte le energie vitali affimche le tenga unite. Trasformare il senso di paura e smarrimento e sfiducia nel futuro in calma e tranquillita' che all fine tutto andra bene",
          "submittedAt": "2025-07-23T14:08:41.064+02:00",
          "formMode": "test",
          "email_hash": "eabd6dc4c86e45c6c2c8d55fd1027a8be7384362e5cde52e9538b0492e0a73cd",
          "email_opt_in": "Yes",
          "current_emotional_state": "Guilt",
          "life_situation": "Sono un uomo triste con manie suicide"
        }
      }
    ]
  },
  "repo_name": "n8n",
  "repo_owner": "thalderg",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-29T13:56:07.453Z",
      "updatedAt": "2025-05-29T13:56:07.453Z",
      "id": "0VZ5UhwYeLVnd583",
      "name": "Product"
    },
    {
      "createdAt": "2025-05-29T13:56:07.414Z",
      "updatedAt": "2025-05-29T13:56:07.414Z",
      "id": "8JwyhMiXJR46hkag",
      "name": "Ideation"
    },
    {
      "createdAt": "2025-05-29T13:56:07.328Z",
      "updatedAt": "2025-05-29T13:56:07.328Z",
      "id": "TQ35wQbgc3ccWuXf",
      "name": "AI"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-28T12:51:16.000Z",
  "versionId": "b11f2214-dd52-4af5-b2c8-0bd6749170af"
}