workflows2025/05/f8Ee1n0wZEmdTTg0.json
{
  "": "",
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create URL string",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create URL string": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-29T13:36:44.642Z",
  "id": "f8Ee1n0wZEmdTTg0",
  "isArchived": false,
  "meta": null,
  "name": "API endpoint",
  "nodes": [
    {
      "parameters": {
        "path": "6f7b288e-1efe-4504-a6fd-660931327269",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "62e1270f-e6ec-404b-bd9e-f8168dc595e5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        20,
        140
      ],
      "webhookId": "6f7b288e-1efe-4504-a6fd-660931327269",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create a simple API endpoint\n\nIn this workflow we show how to create a simple API endpoint with `Webhook` and `Respond to Webhook` nodes\n\n",
        "height": 280,
        "width": 600
      },
      "id": "51256083-8816-4118-ac65-955725dcf206",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=The URL of the Google search query for the term \"{{$node[\"Webhook\"].json[\"query\"][\"first_name\"]}} {{$node[\"Webhook\"].json[\"query\"][\"last_name\"]}}\" is: {{$json[\"product\"]}}",
        "options": {}
      },
      "id": "16d2ed9d-5b62-47b9-a89b-daf3b8b81708",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        460,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "product",
              "value": "=https://www.google.com/search?q={{$json[\"query\"][\"first_name\"]}}+{{$json[\"query\"][\"last_name\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "23c2b963-46ee-44d1-8b86-053f4a294da9",
      "name": "Create URL string",
      "type": "n8n-nodes-base.set",
      "position": [
        240,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### How to use it\n1. Execute the workflow so that the webhook starts listening\n2. Make a test request by pasting, **in a new browser tab**, the test URL from the `Webhook` node and appending the following test at the end `?first_name=bob&last_name=dylan`\n\nYou will receive the following output in the new tab `The URL of the Google search query for the term \"bob dylan\" is: https://www.google.com/search?q=bob+dylan`\n\n",
        "height": 220,
        "width": 600
      },
      "id": "4e0b27ce-8365-4289-809a-9a16da457782",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        300
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "thalderg",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-29T13:46:06.154Z",
      "updatedAt": "2025-05-29T13:46:06.154Z",
      "id": "BkqnkAOGDqanSaQF",
      "name": "API"
    },
    {
      "createdAt": "2025-05-29T13:45:59.445Z",
      "updatedAt": "2025-05-29T13:45:59.445Z",
      "id": "Oox2rAR2o9mqX3nU",
      "name": "templates"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-29T13:46:07.000Z",
  "versionId": "22e5911c-d73b-4be9-abe4-019e450d6afa"
}