workflows2025/05/LVV2iYHWWQqHbhna.json
{
  "": "",
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-13T09:21:23.857Z",
  "id": "LVV2iYHWWQqHbhna",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Workflow 2 Level 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -20
      ],
      "id": "1fd81d1e-186d-40be-a3e9-78adc2344fbf",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/level2-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "2faefd895b154f8d31b1b4d021e0dd72"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        -160
      ],
      "id": "a91c7f16-b069-4a4a-8e93-8fcc07a18e0d",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "L2msUDZsWDkE7k48",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appQcpmA5mU2pjsh9",
          "mode": "list",
          "cachedResultName": "n8n beginner course",
          "cachedResultUrl": "https://airtable.com/appQcpmA5mU2pjsh9"
        },
        "table": {
          "__rl": true,
          "value": "tbliWokd7yZLP8uhv",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/appQcpmA5mU2pjsh9/tbliWokd7yZLP8uhv"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -120,
        80
      ],
      "id": "26a9af62-5b20-4beb-98e5-97f0129f50ee",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "aR2eRiONnse3ODUc",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "customerID",
              "field2": "customerID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        220,
        -40
      ],
      "id": "133c8a51-81c3-4061-814b-2e042f3139eb",
      "name": "Merge"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "orderPrice",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        400,
        -40
      ],
      "id": "33bcd80a-a925-43dd-9ccf-6215dfd6eaeb",
      "name": "Sort"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "14bde8c6-7d85-4b8c-949f-12775354c4c6",
              "leftValue": "={{ $json.region }}",
              "rightValue": "Americas",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        -260
      ],
      "id": "a0c550a2-c0f7-4953-b187-418c3328ba23",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": "=order_{{ $json.orderID }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        900,
        -260
      ],
      "id": "4ff08de7-8187-445d-9641-f6e2e88c5e13",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sendTo": "gioben@protonmail.com",
        "subject": "n8n level 2",
        "emailType": "text",
        "message": "Hello brother! I love you!",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        -380
      ],
      "id": "2b78596d-3958-4115-a39e-bb9a0c44f3d2",
      "name": "Gmail",
      "webhookId": "9f43c023-dedf-48c7-87b5-4453d53156f9",
      "credentials": {
        "gmailOAuth2": {
          "id": "EdToD3kB7ULzhVZc",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=I sent the file using email with the label ID {{ $json.id }}. My ID: 2faefd895b154f8d31b1b4d021e0dd72 ",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1340,
        -380
      ],
      "id": "dbf0412e-3cf9-45ab-a8f5-9e259bf6ddd5",
      "name": "Discord",
      "webhookId": "cce79917-b554-43f3-9774-2a92ad232658",
      "credentials": {
        "discordWebhookApi": {
          "id": "VR7qsLnmCSk1uvHy",
          "name": "Discord Webhook account 3"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        900,
        120
      ],
      "id": "2097a4d7-799c-41e2-b9c4-c0b24f3b50b9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8af9cc-f283-47e2-a1e4-c844fe5d6cfc",
              "name": "customerEmail",
              "value": "={{ $json.customerEmail }}",
              "type": "string"
            },
            {
              "id": "d467d45d-8f1f-4665-bd6b-e6ff97ff554e",
              "name": "region",
              "value": "={{ $json.region }}",
              "type": "string"
            },
            {
              "id": "3c6ac589-4098-4ff7-b7e8-54fd20a40c39",
              "name": "customerSince",
              "value": "={{ $json.customerSince }}",
              "type": "string"
            },
            {
              "id": "b81fb826-52cb-421c-af42-86e492b45907",
              "name": "orderPrice",
              "value": "={{ $json.orderPrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        140
      ],
      "id": "551be819-b2dc-483b-9ed1-a383de2ea7cf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "outputFieldName": "customerSince",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1480,
        140
      ],
      "id": "c3812bb3-9b92-45be-917e-ca96b846dee8",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{$runIndex > 0 ? 'file_low_orders':'file_high_orders'}}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1760,
        140
      ],
      "id": "a2b5c7b7-70ca-4d70-9173-c12ca90a1a98",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=I created the spreadsheet {{$binary.data.fileName}}. My ID: 2faefd895b154f8d31b1b4d021e0dd72 ",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2040,
        140
      ],
      "id": "6868decd-7ba0-44c5-8c6c-474abfd41673",
      "name": "Discord1",
      "webhookId": "cce79917-b554-43f3-9774-2a92ad232658",
      "credentials": {
        "discordWebhookApi": {
          "id": "VR7qsLnmCSk1uvHy",
          "name": "Discord Webhook account 3"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -440,
        -340
      ],
      "id": "82d39019-4d0f-413f-8a52-339bbb149f0d",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "thalderg",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "znSyg7GAI6MKG5TY"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-15T10:47:42.000Z",
  "versionId": "f9c9a1d9-a736-408b-8573-0956c1cdeb3b"
}