workflows2025/04/ClWHTR3TjvCXtQhy.json
{
  "": "",
  "active": false,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-29T08:50:05.517Z",
  "id": "ClWHTR3TjvCXtQhy",
  "isArchived": false,
  "meta": null,
  "name": "Level2 loop&merge",
  "nodes": [
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "c2894ce8-b3ed-4c8b-b67f-025eb8cce84e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        460,
        600
      ]
    },
    {
      "parameters": {},
      "id": "aa4b6068-600d-4ab8-b7c0-3df24c363222",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        740
      ]
    },
    {
      "parameters": {
        "operation": "getAllPeople"
      },
      "id": "ea45ecd4-0469-4fce-a4a7-d6dfc09e959e",
      "name": "Customer Datastore (n8n training)",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        160,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    'name': 'Jay Gatsby',\n    'language': 'English',\n    'country': {\n      'code': 'US',\n      'name': 'United States'\n    }\n    \n  }\n  \n];"
      },
      "id": "3e861a18-7a20-4234-866e-0dd4801286c8",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "let urls = [{\n                json: {\n                  url:\n                  'https://medium.com/feed/n8n-io'\n                }\n            },\n            {\n                json: {\n                  url: 'https://dev.to/feed/n8n'\n                }\n            }];\nreturn urls"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        920
      ],
      "id": "088214cd-5d87-420f-8e6c-ebc69c5d245f",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        920
      ],
      "id": "6ee792ae-6ab9-4d2d-a046-9b1d8c2b3220",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        700,
        1020
      ],
      "id": "e966408f-40f8-4fdd-a5d0-fc0d4cea0c8b",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        20,
        1020
      ],
      "id": "f3aabc00-fee7-41da-8894-7c8c22f6d4c3",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "thalderg",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "grZqSy719R58QAs9"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-20T09:13:46.000Z",
  "versionId": "c8440bb0-bf95-4764-8527-1e735f9e3b33"
}