workflows2025/04/FRPaNTKWY86bbXpA.json
{
  "": "",
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        []
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        []
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        []
      ]
    },
    "Customer Datastore (n8n training)1": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-28T14:30:55.622Z",
  "id": "FRPaNTKWY86bbXpA",
  "isArchived": false,
  "meta": null,
  "name": "Level2 Tests",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -760,
        -460
      ],
      "id": "c80bd10b-9395-44d6-b6d0-cf645a7ebc8e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://media.kaspersky.com/pdf/Kaspersky_Lab_Whitepaper_Anti_blocker.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        -780
      ],
      "id": "47f9cfa7-e9aa-4756-8455-b95cefb53b48",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        180,
        -720
      ],
      "id": "bbb05727-4dd0-4d3a-8b66-c25590375acc",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "https://poetrydb.org/random/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        -240
      ],
      "id": "e531a717-60b2-42a2-8d18-fd871231cb35",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -420,
        -380
      ],
      "id": "a4990d50-39d0-4927-be76-23ec3b320b65",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "url": "https://pokeapi.co/api/v2/pokemon",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -660,
        0
      ],
      "id": "4b6b70e6-14d8-4970-be63-4b41604a1002",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -80,
        -260
      ],
      "id": "11e4b496-7de0-4097-997e-ca7267a0f726",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.results\n//return $input.first().json.results.map(item => {\n //   return {\n //       json: item\n //   }\n// });\n\n// fomr the book\n//let items = $input.all();\n//return items[0].json.results.map(item => {\n//\treturn {\n//\t\tjson: item\n//\t}\n// });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        -60
      ],
      "id": "2cc5e68b-cef7-4641-997f-e0c766c8db7a",
      "name": "Code1"
    },
    {
      "parameters": {
        "url": "https://blog.n8n.io/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        200
      ],
      "id": "1d7cb1fd-0943-49ad-948f-12f469f4143e",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "cssSelector": ".post .item-title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1480,
        200
      ],
      "id": "b7af3960-bf47-49b6-ac1c-0c4fdb6c954d",
      "name": "HTML"
    },
    {
      "parameters": {
        "url": "https://pokeapi.co/api/v2/pokemon",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        40
      ],
      "id": "9e22d7f7-c2be-4268-b533-bff56e95d37f",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "mode": "jsonToxml",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1320,
        40
      ],
      "id": "31422ba0-f2c2-46f3-a802-d8ee82977568",
      "name": "XML"
    },
    {
      "parameters": {
        "operation": "getAllPeople"
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        1020,
        -180
      ],
      "id": "e7607e7c-25c7-4dec-b314-5801639ad8cb",
      "name": "Customer Datastore (n8n training)1"
    },
    {
      "parameters": {
        "operation": "roundDate",
        "date": "={{ $json.created }}",
        "mode": "roundUp",
        "outputFieldName": "new-date",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1400,
        -160
      ],
      "id": "5b0ed7f0-1b65-4815-908b-f1f088f52781",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "274df515-4b5e-4aa6-b769-6b300bb4587a",
              "leftValue": "={{ $json[\"new-date\"] }}",
              "rightValue": "1960-01-01T00:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1700,
        -220
      ],
      "id": "f970eee7-8a93-4cba-967b-dd998bd33124",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1580,
        -680
      ],
      "id": "57da9402-37fe-4d54-8d39-cb368c01c97d",
      "name": "Wait1",
      "webhookId": "cd0efcdb-c41b-4860-bec8-474c69127216"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3493d199-3fb4-42bf-a0ba-26c4c3450113",
              "name": "outputValue",
              "value": "={{ $json[\"new-date\"] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        -700
      ],
      "id": "b569708d-0664-42fc-b426-f3adf74081d9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        800,
        -100
      ],
      "id": "6f84b6e3-b1f7-44d8-8520-9b21ce649f29",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "jsCode": "return [{json:{\n  'name': 'Jay Gatsby',\n  'language': 'English',\n  'country': {'code': 'US', 'name': 'United States'}}},\n        {json:{\n  'name': 'Edmund Pevensie',\n  'language': 'English',\n  'country': {'code': 'UK', 'name': 'United kingdom'}\n}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        520
      ],
      "id": "8c416f97-e88c-4b7c-8553-40beb46c0f4f",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        520,
        320
      ],
      "id": "f84403f2-5f46-4195-ad94-84df5fa145d8",
      "name": "Customer Datastore (n8n training)2"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        940,
        400
      ],
      "id": "f40b6d01-fc26-46c2-8c8e-c522887dc85a",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1540,
        360
      ],
      "id": "433ab98a-9f49-4f18-9468-e51d56f3f76e",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "  return [{json: {'url': 'https://medium.com/feed/n8n-io'}},\n          {json: {'url': 'https://dev.to/feed/n8n'}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1160,
        380
      ],
      "id": "1ac4381a-d15a-4933-ab52-b364d86a2063",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -180,
        380
      ],
      "id": "24b7f06e-3d82-494c-8a17-db0869cbe7f9",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -600,
        380
      ],
      "id": "c9b8b1a5-885d-443a-9e77-bcb52107a886",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "thalderg",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-04-28T14:30:55.624Z",
      "updatedAt": "2025-04-28T14:30:55.624Z",
      "role": "workflow:owner",
      "workflowId": "FRPaNTKWY86bbXpA",
      "projectId": "wg2OyJWQzlMX1LZw"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-20T09:15:31.000Z",
  "versionId": "c01eb759-0b3d-4919-a9d3-0d24a8b6882e"
}