workflows2025/04/RNAx0E5GQCiNCbUt.json
{
  "": "",
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "NASA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NASA": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "PostBin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PostBin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-20T18:39:44.981Z",
  "id": "RNAx0E5GQCiNCbUt",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Nasa",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "db340ce4-ab88-4ea1-b145-541e7b9f0535",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "donkiSolarFlare",
        "additionalFields": {
          "startDate": "={{ $today.minus(7, 'days') }}"
        }
      },
      "type": "n8n-nodes-base.nasa",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "e991e792-9e9e-4eb5-83f0-83e348954356",
      "name": "NASA",
      "credentials": {
        "nasaApi": {
          "id": "USsJ3WWUpVDjdF0s",
          "name": "NASA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c2f2b37-c4ea-4644-8cb2-55037f15dcab",
              "leftValue": "={{ $json.classType }}",
              "rightValue": "M",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "c628ba2c-c3c7-4dcc-b97f-ac53a203dfe1",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1745228956557-4623316614888",
        "binContent": "=There was a solar flare of class {{$json[\"classType\"]}}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        660,
        -100
      ],
      "id": "ce53966c-4374-4d1e-92cd-772bd3f98e76",
      "name": "PostBin"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1745228956557-4623316614888",
        "binContent": "=There was a solar flare of class {{$json[\"classType\"]}}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        660,
        80
      ],
      "id": "8d2eafde-aad6-487b-86ae-90567d378b49",
      "name": "PostBin1"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "thalderg",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-04-20T18:39:44.985Z",
      "updatedAt": "2025-04-20T18:39:44.985Z",
      "role": "workflow:owner",
      "workflowId": "RNAx0E5GQCiNCbUt",
      "projectId": "wg2OyJWQzlMX1LZw"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-19T11:49:54.000Z",
  "versionId": "56b33548-8ad4-49e8-9bb0-b0955aa1096f"
}