workflows2025/04/xmvLAMWqsXvJexgv.json
{
  "": "",
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-30T08:09:02.196Z",
  "id": "xmvLAMWqsXvJexgv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Level2 merge workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -300,
        -20
      ],
      "id": "031eb572-48f7-48bb-84a1-50e69af548cd",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appQcpmA5mU2pjsh9",
          "mode": "list",
          "cachedResultName": "n8n beginner course",
          "cachedResultUrl": "https://airtable.com/appQcpmA5mU2pjsh9"
        },
        "table": {
          "__rl": true,
          "value": "tbliWokd7yZLP8uhv",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/appQcpmA5mU2pjsh9/tbliWokd7yZLP8uhv"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        80,
        -160
      ],
      "id": "cfaaa02c-c065-42ab-9ade-633fa2183207",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "3Z5gAdZjnUuzFSmd",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://restcountries.com/v3.1/all",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        100
      ],
      "id": "689adb08-118e-41cf-a704-e0986459b34f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "customerCountry",
              "field2": "name.common"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        400,
        -20
      ],
      "id": "ec2e9cc1-fd52-4d51-a47d-acff1c812276",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appQcpmA5mU2pjsh9",
          "mode": "list",
          "cachedResultName": "n8n beginner course",
          "cachedResultUrl": "https://airtable.com/appQcpmA5mU2pjsh9"
        },
        "table": {
          "__rl": true,
          "value": "tbliWokd7yZLP8uhv",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/appQcpmA5mU2pjsh9/tbliWokd7yZLP8uhv"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customerID": "={{ $json.customerID }}",
            "customerCountry": "={{ $json.customerCountry }}",
            "customerSince": "={{ $json.customerSince }}",
            "customerEmail": "={{ $json.customerEmail }}",
            "subregion": "={{ $json.subregion }}",
            "region": "={{ $json.region }}"
          },
          "matchingColumns": [
            "customerID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerCountry",
              "displayName": "customerCountry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerEmail",
              "displayName": "customerEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerSince",
              "displayName": "customerSince",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subregion",
              "displayName": "subregion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        620,
        -20
      ],
      "id": "63c2c4b5-e073-47fa-b02e-1494491f2bd3",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "3Z5gAdZjnUuzFSmd",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "thalderg",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-20T09:16:10.000Z",
  "versionId": "a9240490-c5fa-4ed8-9fff-9a9a318d94d4"
}